<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NowPlaying4mastodon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NowPlaying4mastodon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <NowPlaying4mastodon.Properties.Settings>
      <setting name="Mastodon_Access_token" serializeAs="String">
        <value />
      </setting>
      <setting name="Spotify_Access_token" serializeAs="String">
        <value />
      </setting>
      <setting name="Spotify_Refresh_token" serializeAs="String">
        <value />
      </setting>
      <setting name="Mastodon_Userinfo" serializeAs="String">
        <value />
      </setting>
      <setting name="Mastodon_Toot_Visiblity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="Mastodon_Toot_SetNSFW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mastodon_Toot_PostArtwork" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mastodon_Toot_Format" serializeAs="String">
        <value>{trackName} / {trackArtist}  {Links}   {Preview}  #Nowplaying</value>
      </setting>
      <setting name="Mastodon_Toot_TrackChangedAutoPost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTitlebarInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Spotify_Markets" serializeAs="String">
        <value>ES</value>
      </setting>
    </NowPlaying4mastodon.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <NowPlaying4mastodon.Properties.Settings>
      <setting name="Spotify_Endpoint_auth" serializeAs="String">
        <value>https://accounts.spotify.com/authorize</value>
      </setting>
      <setting name="Spotify_Endpoint_token" serializeAs="String">
        <value>https://accounts.spotify.com/api/token</value>
      </setting>
      <setting name="Spotify_Redirect_url" serializeAs="String">
        <value>https://localhost/callback</value>
      </setting>
      <setting name="Spotify_oAuth_scope" serializeAs="String">
        <value>user-read-playback-state,user-modify-playback-state</value>
      </setting>
      <setting name="Spotify_ClientId" serializeAs="String">
        <value />
      </setting>
      <setting name="Spotify_ClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="Mastodon_ClientKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Mastodon_ClientSecret" serializeAs="String">
        <value />
      </setting>
    </NowPlaying4mastodon.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>