################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/NowPlaying4mastodon/v15
/NowPlaying4mastodon/bin
/NowPlaying4mastodon/obj
/oAuth2Client/bin
/oAuth2Client/obj
/oAuth2Client.Test/bin/Release
/oAuth2Client.Test/obj
/packages
/SpotifyApi/bin
/SpotifyApi/obj
